micronaut:
  application:
    name: micronauts_test
  server:
    port: 8888
    cors:
      enabled: true
    netty:
      access-logger:
        enabled: true
    locale-resolution:
      default-locale: zh_CN

  router:
    static-resources:
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /swagger/**
      redoc:
        paths: classpath:META-INF/swagger/views/redoc
        mapping: /redoc/**
      rapidoc:
        paths: classpath:META-INF/swagger/views/rapidoc
        mapping: /rapidoc/**
      swagger-ui:
        paths: classpath:META-INF/swagger/views/swagger-ui
        mapping: /swagger-ui/**
  metrics:
    enabled: true
  validator:
    enabled: true


#management
endpoints:
  all:
    enabled: true
    sensitive: false
    path: /eps


jackson:
  bean-introspection-module: true

datasources:
  default:
    url: jdbc:mysql://mysql:3306/micronaut_test?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root
    password: thingsmatrix@8
    dialect: MYSQL

jpa:
  default:
    properties:
      hibernate.hbm2ddl.auto: update
      hibernate.show_sql: true
